@import "./theme.css";
@import "./HUID/all.css";

header {
    width: 100%;
    background-image: url("/assets/img/banner-top.png");
    background-color: var(--primary-color);
    background-position: center;
    height: 1152px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .content {
    margin-top: -110%;
    text-align: center;
    transition: ease-in-out;
}

header .content h1 {
    font-size: 4em;
    color: #fff;
    margin: 0;
}

header .content h4 {
    margin-top: 6px;
    font-size: 2em;
    color: #fff;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    transition: background-color 0.4s;
}

.navbar.transparent {
    background-color: transparent;
}

.navbar nav {
    padding: 5px 20px;
}


.navbar nav img {
    max-height: 50px;
    width: auto;
}

@media only screen and (min-width: 1260px) {
    header .content {
        margin-left: -60%;
        margin-top: -20%;
    }
}

@media only screen and (max-width: 1260px) {
    section {
        padding-top: 5em;
        padding-bottom: 5em;
    }
}
